/* Overall layout styles */
.App {
  display: flex;
  min-height: 100vh; /* Full viewport height */
  box-sizing: border-box;
}

.left_box {
  flex: 10%; /* 30% of the container */
  background-color: #f4f4f4; /* Light gray background for visibility */
  padding: 20px; /* Padding for aesthetics */
}

.right_box {
  flex: 90%; /* 70% of the container */
  background-color: #fff; /* White background for contrast */
  padding: 20px; /* Padding for aesthetics */
   /* Center align the search container vertically */ /* Center align the search container horizontally */
}





/* Responsive adjustments */
@media (max-width: 768px) {
  .App {
    flex-direction: row; /* Keep horizontal layout */
  }



}